<html>
	<head>
		<meta charset="utf-8">
		<title>Проект (шк. №102)</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
		<style>
		body { background-image: url('bg.jpg'); background-size: cover; background-position: right; }
		body > div { background-color: rgba(255, 255, 255, .66); }
		input { min-width: 5rem !important; }
		</style>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	</head>
	<body>
		<div id="app" class="container pb-2 my-3">
			<h1 class="display-5">Калькулятор ресуров по игре Crossout</h1>
			<h3>Романов Владислав, Корчагин Иван - 9&laquo;A&raquo;</h3>
			<hr>
			<ul class="list-group mb-2">
				<li class="list-group-item list-group-item-primary">Предмет №1 - 3500&nbsp;<i class="bi bi-coin"></i></li>
			</ul>
			<div class="row justify-content-end">
				<div class="col-lg-3">
					<div class="d-grid gap-2 mb-2">
						<button class="btn btn-outline-danger" @click="clearList"><i class="bi bi-trash3-fill"></i> Очистить список</button>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Ресурс</th>
							<th>Стоимость</th>
							<th>Кол-во</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="resource in resources">
							<td class="text-nowrap"><i :class="['bi bi-' + resource.icon]"></i>&nbsp;{{ resource.name }}</td>
							<td>
								<div class="input-group">
									<input type="number" class="form-control" min="1" step="1" title="Цена" v-model="resource.price">
									<span class="input-group-text"><i class="bi bi-coin"></i></span>
									<span class="input-group-text">&times;</span>
									<input type="number" class="form-control" min="1" step="1" title="Кол-во" v-model="resource.count">
									<span class="input-group-text">ед.</span>
								</div>
							</td>
							<td><input type="number" class="form-control" min="0" step="1" value="0" v-model="resource.quantity"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row justify-content-end">
				<div class="col-lg-3">
					<div class="d-grid gap-2 mb-2">
						<button class="btn btn-outline-primary" @click="addToList"><i class="bi bi-arrow-90deg-up"></i> Запомнить предмет</button>
					</div>
				</div>
			</div>
			<div class="mb-2">
				<div class="input-group">
					<span class="input-group-text">Стоимость предмета в магазине</span>
					<input type="number" class="form-control" min="0" step="1" v-model="price">
					<span class="input-group-text"><i class="bi bi-coin"></i></span>
				</div>
			</div>
			<div class="alert alert-warning">
				<div>Стоимость создания - <span class="badge bg-secondary">{{ getCraftPrice }}&nbsp;<i class="bi bi-coin"></i></span>.</div>
				<div>Выгода - <span :class="['badge bg-' + getBadgeClassForProfit]">{{ getProfit }} %</span>.</div>
			</div>
		</div>

		<script>
			const { createApp } = Vue

			createApp({
				data() {
					return {
						resources: [
							{ name: 'Металлолом', icon: 'magnet-fill', price: 6.2, count: 100, quantity: 0 },
							{ name: 'Медь', icon: 'boxes', price: 2.99, count: 100, quantity: 0 },
							{ name: 'Провода', icon: 'plugin', price: 13.26, count: 100, quantity: 0 },
							{ name: 'Пластик', icon: 'cone-striped', price: 32.86, count: 100, quantity: 0 },
							{ name: 'Электроника', icon: 'cpu', price: 5.30, count: 10, quantity: 0 },
							{ name: 'Аккумуляторы', icon: 'battery-half', price: 1.49, count: 10, quantity: 0 },
							{ name: 'Урановая руда', icon: 'radioactive', price: 349, count: 10, quantity: 0 },
						],
						price: 0,
					}
				},
				computed: {
					getCraftPrice() {
						return this.resources.reduce((sum, item) => sum + item.price * item.quantity / item.count, 0)
					},
					getProfit() {
						if (!this.price || !this.getCraftPrice) return 0;
						//let percent = (this.price - this.getCraftPrice) * 100 / this.price;
						let priceA = this.price
						let priceB = this.getCraftPrice
						let multiply = -1
						if (priceA < priceB) {
							let tmp = priceA
							priceA = priceB
							priceB = tmp
							multiply = 1
						}
						let percent = 100 - priceA * 100 / priceB;
						return multiply * Math.round(percent * 100) / 100
					},
					getBadgeClassForProfit() {
						if (this.getProfit == 0) return 'secondary'
						return this.getProfit > 0 ? 'success' : 'danger'
					}
				},
				methods: {
					addToList(event) {
						this.resources.map(item => item.quantity = 0)
						this.price = 0
						alert('TODO')
					},
					clearList(event) {
						alert('TODO')
					},
				},
			}).mount('#app')
		</script>
	</body>
</html>